<div id="content">
    <div class="schedules">
        <p>
            <span class="days">Visítanos de Lunes a Viernes en horario de:</span>
            <br><br><br>
            <span class="hours">09:00-14:00 hrs. y 16:00-20:00 hrs.</span>
            <br><br><br>
            <span class="days">Lo dias Sábados de:</span>
            <br><br><br>
            <span class="hours">09:00-16:00 hrs.</span>
            <br><br><br>
            <span class="days">Domingos no laboramos.</span>
        </p>
    </div>
    <div class="image">
        <img src="../../assets/images/mrdog6.jpg">
    </div>
</div>
