<div id="menu-bar">
  <div class="logoSection"><img class="logo-img" src="../assets/images/mr.dog.jpg"></div>
  <div>
    <div class="serviceSection" [style]="{'background-color': selected=='service' ? '#155162' : '#1C677C'}" (click)="select()">Servicios</div>
    <div *ngIf="selection==1">
      <div class="list" *ngFor="let option of options, index as i" (click)="navigate(i)" [style]="{'background-color': option.status==true?'rgba(0, 0, 0, 0.8)':'rgba(0, 0, 0, 0.6)'}">
        {{option.nombre}}
      </div>
    </div>
  </div>
  <div class="hoursSection" [style]="{'background-color': selected=='schedule' ? '#155162' : '#1C677C'}" (click)="change()">Horarios</div>
  <div class="perfilSection"><img class="perfil-img" src="../assets/images/usuario.png"></div>
</div>
<div id="body">
  <div id="protetor" class="protector" [style]="{'display': isProtected==1?'block':'none'}" (click)="select()"></div>
  <router-outlet></router-outlet>
</div>
<div id="footer">
  <div class="ubication">
    Ubicados en Córdoba Ver.
    <br>
    Teléfono: 2711786460
  </div>
</div>
